<html>

<head>
    <title>GRAPH SQL</title>
    <link rel = "stylesheet" href = "{{url_for('static' , filename = 'css/style.css')}}">
</head>

<body>

{% with messages = get_flashed_messages() %}  
{% if messages %}  
          {% for message in messages %} 
          <script>alert('{{ message }}');</script>  
          {% endfor %}  
{% endif %}  
{% endwith %}  


<center><h2 id = "main_heading"><u>GRAPH SQL</u></h2></center>
<div id = "heading">
    <a href = "home.html" id = "home">HOME</a>
    <a href = "create.html">CREATE</a>
    <a href = "insert.html">INSERT</a>
    <a href = "select.html">SELECT</a>
    <a href =  "view.html" >VIEW</a>

</div>

<br>
<center>
<h2>Welcome to our family tree !</h2>
<h2><u>ABOUT</u></h2>
<h2>
    <ul>
    <li>You can create your own network here.</li>
    <li>Add your own relations to others.</li>
    <li>Also view all relations as a whole</li>
    <li>Hurry up , scroll below to create your own graph network !</li>
    </ul>
</h2>
</center>


<br>


<center>
<button id = "click" onclick = "window.location.href = 'create.html';" >CREATE YOUR OWN GRAPH</button>
</center>

    <br>
    <br>
</center>
<br><br>

</body>
</html>
